@model G_5_BMS.Models.Application

@{
    ViewData["Title"] = "Applications";
}
<link rel="stylesheet" href="~/css/Application.css" asp-append-version="true" />

<div class="container mt-4">
    <div class="card">
        <div class="info-card-header">
            <h2>List of Applications</h2>
        </div>
        <div class="card-body">
            <div class="inner-card">
                <div class="table-like-header">Barangay Clearance</div>
                <div class="inner-card-body">
                    @foreach (var application in Model.Clearances)
                    {
                        <div class="table-like">
                            <div class="table-like-row">
                                <div class="green-circle"></div>
                                <div class="table-like-cell">Name: @application.FirstName @application.MiddleName @application.LastName</div>
                                <div class="table-like-cell">Contact Information: @application.ContactNumber</div>
                                <div class="table-like-cell">Email Address: @application.EmailAddress</div>
                                <div class="table-like-cell">
                                    <a href="mailto:@application.EmailAddress">
                                        <img src="~/Images/Admin/up.png" alt="Email" style="width: 24px; height: 24px;" />
                                    </a>
                                    <a href="#">
                                        <img src="~/Images/Admin/remove.png" alt="Delete" style="width: 24px; height: 24px;margin-left:15px; margin-right:5px;" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="inner-card">
                <div class="table-like-header">Barangay Permit</div>
                <div class="inner-card-body">
                    @foreach (var application in Model.Permits)
                    {
                        <div class="table-like">
                            <div class="table-like-row">
                                <div class="green-circle"></div>
                                <div class="table-like-cell">Name: @application.FirstName @application.MiddleName @application.LastName</div>
                                <div class="table-like-cell">Contact Information: @application.ContactNumber</div>
                                <div class="table-like-cell">Email Address: @application.EmailAddress</div>
                                <div class="table-like-cell">
                                    <a href="mailto:@application.EmailAddress">
                                        <img src="~/Images/Admin/up.png" alt="Email" style="width: 24px; height: 24px;" />
                                    </a>
                                    <a href="#">
                                        <img src="~/Images/Admin/remove.png" alt="Delete" style="width: 24px; height: 24px;margin-left:15px; margin-right:5px;" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="inner-card">
                <div class="table-like-header">Barangay ID</div>
                <div class="inner-card-body">
                    @foreach (var application in Model.Ids)
                    {
                        <div class="table-like">
                            <div class="table-like-row">
                                <div class="green-circle"></div>
                                <div class="table-like-cell">Name: @application.FirstName @application.MiddleName @application.LastName</div>
                                <div class="table-like-cell">Contact Information: @application.ContactNumber</div>
                                <div class="table-like-cell">Email Address: @application.EmailAddress</div>
                                <div class="table-like-cell">
                                    <a href="mailto:@application.EmailAddress">
                                        <img src="~/Images/Admin/up.png" alt="Email" style="width: 24px; height: 24px;" />
                                    </a>
                                    <a href="#">
                                        <img src="~/Images/Admin/remove.png" alt="Delete" style="width: 24px; height: 24px; margin-left:15px; margin-right:5px;" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="inner-card">
                <div class="table-like-header">Complaints</div>
                <div class="inner-card-body">
                    @foreach (var application in Model.Complains)
                    {
                        <div class="table-like">
                            <div class="table-like-row">
                                <div class="green-circle"></div>
                                <div class="table-like-cell">Full Name: @application.FullName</div>
                                <div class="table-like-cell">Contact Number: @application.ContactNumber</div>
                                <div class="table-like-cell">Email Address: @application.EmailAddress</div>
                                <div class="table-like-cell">
                                    <a href="mailto:@application.EmailAddress">
                                        <img src="~/Images/Admin/up.png" alt="Email" style="width: 24px; height: 24px;" />
                                    </a>
                                    <a href="#">
                                        <img src="~/Images/Admin/remove.png" alt="Delete" style="width: 24px; height: 24px;margin-left:15px; margin-right:5px;" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function deleteApplication(id) {
        alert('Delete application with ID: ' + id);
    }
</script>
